@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-image">
    <img id="img-bg-home" src="~/images/bg.jpg" width="1080" height="720"/>
</div>
<div class="inferior">
    <div class="row">
        <div class="col-md-3">
            <h2>Listar algo 1</h2>
            <ul>

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Listar algo 2</h2>
            <ul>

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Listar algo 3</h2>
            <ul>
               
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Listar algo 4</h2>
            <ul>
                
            </ul>
        </div>
    </div>

</div>
